@model projektMVC.Models.Borrow

@{
    ViewBag.Title = "BorrowBook";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Borrow</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Borrow</h4>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.BookCopyID, "BookCopyID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BookCopyID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookCopyID, "", new { @class = "text-danger" })
            </div>
        </div>
    


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
