@model IEnumerable<projektMVC.Models.Borrow>

@{
    ViewBag.Title = "Borrowed";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Borrowed</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.ISBN)
            @Html.DisplayNameFor(model => model.BookCopy.Book.BookTitle)
            @Html.DisplayNameFor(model => model.BorrowDate)
            @Html.DisplayNameFor(model => model.ReturnDate)



        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopy.ISBN)
                @Html.DisplayFor(modelItem => item.BookCopy.Book.BookTitle)
                @Html.DisplayFor(modelItem => item.BorrowDate.ToString())
                @Html.DisplayFor(modelItem => item.ReturnDate.ToString())
            </td>

        </tr>
    }

</table>
