@model IEnumerable<projektMVC.Models.Borrow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Borrowed</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookCopy.Book.BookTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>    
        <th>
            @Html.DisplayNameFor(model => model.Punishment.Charge)
        </th>       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopy.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCopy.Book.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Punishment.Charge)
            </td>
        </tr>
    }

</table>
